@model List<WebApplication3.ViewModels.StudentViewModel>

@{
    ViewData["Title"] = "Students List";
}

<h2>Students List</h2>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Teacher</th>
            <th>Courses</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var student in Model)
        {
            <tr>
                <td>@student.Name</td>
                <td>@student.Teachers</td>
                <td>
                    @foreach (var course in student.Courses)
                    {
                        <span>@course.Text</span>

                        <br />
                    }
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@student.Id" class="btn btn-warning btn-sm">Edit</a>
                    <a asp-action="Delete" asp-route-id="@student.Id" class="btn btn-danger btn-sm">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-action="Create" class="btn btn-primary">Create New Student</a>
